@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: #111; /* Dark background */
  color: #fff; /* Default text color */
}

/* Styles for the hero section */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px; /* Adjust the padding to reduce space */
  min-height: 70vh; /* Adjust the min-height to reduce space */
  box-sizing: inherit;
}

/* Styles for the introduction text */
.intro-text {
  width: 50%;
  text-align: center;
}

.intro-text h2 {
  font-size: 50px;
  margin-bottom: 10px;
  background: linear-gradient(90deg, #4a90e2, #8a3ffc, #fb01ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 1s infinite alternate ease-in-out;
}

.intro-text p {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 20px;
}

/* Styles for the block image */
.block-image {
  width: 45%;
}

.block-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Rounded corners for the image */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3); /* Soft shadow effect */
}

/* Styles for the hero table */
.hero-table {
  margin-top: 20px;
  overflow-x: auto;
}

.hero-table table {
  border-collapse: collapse;
  color: #fff;
  width: 100%;
}

.hero-table th, .hero-table td {
  padding: 15px;
  font-size: 1.2rem;
}

.hero-table th {
  background: linear-gradient(315deg, #6b3bb5, #8e44ad); /* Purple gradient background for headers */
  text-align: left;
}

.hero-table tbody tr {
  background: rgba(255, 255, 255, 0.1); /* Transparent alternating row background */
}

.hero-table tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05); /* Lighter transparent alternating row background */
}

.hero-table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Transparent hovered row background */
}

/* Styles for the main heading */
.h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

/* Styles for CryptoScout section */
.CryptoScout {
  background: linear-gradient(135deg, #1c1c1c, #262626); /* Dark gradient background */
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(110, 19, 122, 0.3); /* Soft shadow effect */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-top: 50px; /* Adjust margin to improve alignment */
  margin-bottom: 50px;
}

.CryptoScout h2 {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  margin-bottom: 20px; /* Add margin to separate from paragraph */
}

.CryptoScout p {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}

/* Animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
}

.CryptoScout {
  animation: pulse 2s infinite alternate;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.snippits {
  max-width: 700px;
  background-color: #222;
  color: #fff;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.2); /* Added border shadow */
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
}

.snippits:hover {
  transform: translateY(-5px);
}

.snippits h1 {
  background: linear-gradient(90deg, #4a90e2, #8a3ffc, #fb01ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.snippits p {
  font-size: larger;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  color: #ffffff; /* Light gray text color */
  line-height: 1.6; /* Adjust line height for better readability */
  margin-bottom: 10px; /* Add some space below paragraphs */
}

.snippits:hover p {
  transform: translateY(-3px); /* Move the paragraph slightly upwards on hover */
  color: aliceblue;
}

.snippits:hover h1 {
  transform: scale(1.1);
}

.Icon {
  width: 100px;
  height: 100px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}

.Icon img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.Icon img:hover {
  transform: scale(1.1);
}
